%p#notice= notice

%ul.list-group
  %li.list-group-item
    %b Title:
    = @book.title
  %li.list-group-item
    %b Author:
    = @book.author
  %li.list-group-item
    %b Publisher:
    = @book.publisher
  %li.list-group-item
    %b Publish date:
    = @book.publish_date
  %li.list-group-item
    %b Price:
    = @book.price
  %li.list-group-item
    %b Amazon link:
    = @book.amazon_link

.btn-group-lg
  = link_to 'Edit', edit_book_path(@book), class: "btn btn-default"
  = link_to 'Back', books_path, class: "btn btn-default"
